POSTGRES_DB=mediscanflow
POSTGRES_USER=mediscanflow
POSTGRES_PASSWORD=mediscanflow

RABBITMQ_DEFAULT_USER=mediscanflow
RABBITMQ_DEFAULT_PASS=mediscanflow

MINIO_ROOT_USER=mediscanflow
MINIO_ROOT_PASSWORD=mediscanflow123
MINIO_BUCKET=medical-scans