#Spring profile
SPRING_PROFILES_ACTIVE=

#PostgreSQL
POSTGRES_IMAGE=
POSTGRES_CONTAINER_NAME=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

#RabbitMQ
RABBITMQ_IMAGE=
RABBITMQ_CONTAINER_NAME=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

#MinIO
MINIO_IMAGE=
MINIO_CONTAINER_NAME=
MINIO_API_PORT=
MINIO_CONSOLE_PORT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=

#Keycloak
KEYCLOAK_IMAGE=
KEYCLOAK_CONTAINER_NAME=
KEYCLOAK_PORT=
KC_HTTP_PORT=
KC_BOOTSTRAP_ADMIN_USERNAME=
KC_BOOTSTRAP_ADMIN_PASSWORD=
KEYCLOAK_REALM_IMPORT_FILE=
MEDISCANFLOW_KEYCLOAK_ADMIN_SERVER_URL=
MEDISCANFLOW_KEYCLOAK_ADMIN_REALM=
MEDISCANFLOW_KEYCLOAK_ADMIN_CLIENT_ID=
MEDISCANFLOW_KEYCLOAK_ADMIN_CLIENT_SECRET=

#Backend build
BACKEND_BUILD_CONTEXT=
BACKEND_DOCKERFILE=
BACKEND_CONTAINER_NAME=
BACKEND_PORT=

#Backend datasource
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

#Backend RabbitMQ
SPRING_RABBITMQ_HOST=
SPRING_RABBITMQ_PORT=
SPRING_RABBITMQ_USERNAME=
SPRING_RABBITMQ_PASSWORD=

#Backend MinIO
APP_STORAGE_MINIO_ENDPOINT=
APP_STORAGE_MINIO_PUBLIC_ENDPOINT=
APP_STORAGE_MINIO_ACCESS_KEY=
APP_STORAGE_MINIO_SECRET_KEY=
APP_STORAGE_MINIO_BUCKET=
APP_STORAGE_MINIO_REGION=

#Backend OAuth2
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=

#Web app build
WEB_APP_BUILD_CONTEXT=
WEB_APP_DOCKERFILE=
WEB_APP_CONTAINER_NAME=
WEB_APP_PORT=
WEB_APP_INTERNAL_PORT=
WEB_APP_HOSTNAME=
NODE_ENV=

#Web app runtime
NEXT_PUBLIC_API_BASE_URL=
BACKEND_INTERNAL_URL=
NEXT_PUBLIC_KEYCLOAK_URL=
NEXT_PUBLIC_KEYCLOAK_REALM=
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=

#AI inference build
AI_INFERENCE_BUILD_CONTEXT=
AI_INFERENCE_DOCKERFILE=
AI_INFERENCE_CONTAINER_NAME=

#AI inference RabbitMQ
AI_RABBITMQ_HOST=
AI_RABBITMQ_PORT=
AI_RABBITMQ_USER=
AI_RABBITMQ_PASSWORD=

#AI inference MinIO
AI_MINIO_ENDPOINT=
AI_MINIO_ACCESS_KEY=
AI_MINIO_SECRET_KEY=
AI_MINIO_BUCKET=
AI_MINIO_SECURE=

#AI inference model
AI_MODELS_VOLUME=
MODEL_PATH=
YOLO_CONFIDENCE_THRESHOLD=
SIMULATE_INFERENCE_FAILURE=
YOLO_CONFIG_DIR=