#Spring profile
SPRING_PROFILES_ACTIVE=

#Server
SERVER_PORT=

#Datasource
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

#RabbitMQ
SPRING_RABBITMQ_HOST=
SPRING_RABBITMQ_PORT=
SPRING_RABBITMQ_USERNAME=
SPRING_RABBITMQ_PASSWORD=

#OAuth2 resource server
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=

#MinIO
APP_STORAGE_MINIO_ENDPOINT=
APP_STORAGE_MINIO_PUBLIC_ENDPOINT=
APP_STORAGE_MINIO_ACCESS_KEY=
APP_STORAGE_MINIO_SECRET_KEY=
APP_STORAGE_MINIO_BUCKET=
APP_STORAGE_MINIO_REGION=

#File upload
SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE=
SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE=
APP_VALIDATION_FILE_UPLOAD_MAX_SIZE_BYTES=

#Keycloak admin client
MEDISCANFLOW_KEYCLOAK_ADMIN_SERVER_URL=
MEDISCANFLOW_KEYCLOAK_ADMIN_REALM=
MEDISCANFLOW_KEYCLOAK_ADMIN_CLIENT_ID=
MEDISCANFLOW_KEYCLOAK_ADMIN_CLIENT_SECRET=