#RabbitMQ
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

#MinIO
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
MINIO_SECURE=

#Model
MODEL_PATH=
YOLO_CONFIDENCE_THRESHOLD=
SIMULATE_INFERENCE_FAILURE=
YOLO_CONFIG_DIR=